body {
    background-image: url("Plumas.jpg")
}

pre, p {
    color: #ffffff;
    background-color: transparent;
}

#titulo1 {
    position: relative;
    top: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    text-align: center;
    font-family: 'Castoro', cursive;
    font-size: 35px;
}

.parrafo{
    color: rgb(253, 236, 0);
    text-align: center;
    font-size: 22px;
}

#titulo2 {
    color: rgb(194, 181, 3);
}

#Cs {
    width: 500px;
    height: 300px;
    border-radius: 10px;
    margin: 10px;
}

#Serious {
    width: 500px;
    height: 300px;
    border-radius: 10px;
    margin: 10px;
}

#video1 {
    position: static;
    z-index: 25%;
    width: 25%;
}

#Zversion {
    position: fixed;
    z-index: 0%;
    width: 0%;
}

#Adobeillus {
    width: 100px;
    height: 100px;
    border-radius: 3px;
    margin: 10px;
}

.Ai {
    -webkit-box-shadow: 0px 0px 14px 7px rgb(206, 106, 25);
           box-shadow:  0px 0px 14px 7px rgb(206, 106, 25);
}

#Adobeafter {
    width: 100px;
    height: 100px;
    border-radius: 3px;
    margin: 10px;
}

.Ae {
    -webkit-box-shadow: 0px 0px 14px 7px rgb(49, 37, 116);
           box-shadow:  0px 0px 14px 7px rgb(49, 37, 116);
}

#Adobephoto {
    width: 100px;
    height: 100px;
    border-radius: 3px;
    margin: 10px;
}

.Ps {
    -webkit-box-shadow: 0px 0px 14px 7px rgb(29, 65, 141);
           box-shadow:  0px 0px 14px 7px rgb(29, 65, 141);
}

#Adobeprem {
    width: 100px;
    height: 100px;
    border-radius: 3px;
    margin: 10px;
}

.Pr {
    -webkit-box-shadow: 0px 0px 14px 7px rgb(119, 29, 141);
           box-shadow:  0px 0px 14px 7px rgb(119, 29, 141);
}

.subtitu {
    color: rgb(194, 181, 3);
    font-size: 27px;
}

#Colegio {
    width: 490px;
    height: 350px;
    border-radius: 10px;
    margin: 6px;
}

.Cole {
    -webkit-box-shadow: 0px 0px 14px 7px rgb(91, 70, 131);
             box-shadow:  0px 0px 30px 7px rgb(91, 70, 131);
}

#Family {
    width: 500px;
    height: 300px;
    border-radius: 10px;
    margin: 6px;
}

.fami {
    -webkit-box-shadow: 0px 0px 14px 7px rgb(255, 255, 255);
           box-shadow:  0px 0px 30px 7px rgb(255, 255, 255);
}

#Lenguaje {
    width: 500px;
    height: 300px;
    border-radius: 10px;
    margin: 6px;
}

.Len {
    -webkit-box-shadow: 0px 0px 14px 7px rgb(100, 197, 214);
           box-shadow:  0px 0px 30px 7px rgb(100, 197, 214);
}

#Joven {
    width: 500px;
    height: 300px;
    border-radius: 10px;
    margin: 6px;
}

.Juventud {
    -webkit-box-shadow: 0px 0px 14px 7px rgba(207, 132, 61, 0.788);
           box-shadow:  0px 0px 30px 7px rgba(207, 132, 61, 0.788);
}

.Lista {
    color: rgb(194, 181, 3);
}

.caja {
    border: 3px rgb(94, 255, 0) dashed;
    padding: 2px;
    margin: 5px;
    text-align: center;
    font-family: Castoro;
    font-size: 90px;
    box-shadow:  0px 0px 30px 7px rgb(61, 207, 68);
}